/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Segoe UI", Inter, system-ui, sans-serif;
} */

body {
  font-family: "Poppins", "Segoe UI", Inter, system-ui, sans-serif;
  background-color: #f9f9f9;
  /*  background: #ff921c; */
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: linear-gradient(135deg, #0f5132, #029f49);
}

/* CONTAINER */
.header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 14px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.header-logo img {
  height: 40px;
  display: block;
}

/* NAV */
.menu-navigasi {
  display: flex;
  gap: 10px;
}

/* MENU BUTTON */
.menu-navigasi a {
  text-decoration: none;
  color: #ffffff;

  padding: 5px 16px;
  border-radius: 999px;

  font-size: 0.95rem;
  font-weight: 500;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.25);

  transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.2s ease;
}

/* HOVER */
.menu-navigasi a:hover {
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

/* ACTIVE */
.menu-navigasi a.active {
  background: #ffffff;
  color: #0f5132;
  font-weight: 600;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

/* SEMBUNYIKAN BOTTOM HEADER DI DESKTOP */
.bottom-header {
  display: none;
}
