.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

/* WRAPPER SLIDER */
.hero-slider {
  display: flex;
  height: 100%;
  width: 300%;
  transition: transform 1.2s ease-in-out;
}

/* TIAP SLIDE */

.hero-slide {
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-image 1.2s ease-in-out;
}

/* OVERLAY HIJAU */
.hero-overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    135deg,
    rgba(2, 159, 73, 0.55),
    rgba(15, 81, 50, 0.75)
  );
}

/* KONTEN */
.hero-content {
  position: relative;
  z-index: 2;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

/* LOGO */
.hero-logo {
  width: 300px;
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

/* TEXT */
.hero-text {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

/* ANIMASI LOGO */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* pengaturan untuk mobile */
@media (max-width: 768px) {
  .hero {
    border-radius: 0 0 40px 40px; /* membuat sudut hero ada kurva nya */
  }
}
