/* PENGATURAN UMUM */
.lihat-semua1 {
  position: relative; /* ⬅️ bisa digeser bebas */
  display: block;
  width: fit-content;
  margin: 0 auto;

  padding: 0.7rem 1.5rem;
  background: linear-gradient(135deg, #0f5132, #029f49);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.35s ease;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;

  /* offset default */
  top: -160px;
  left: 0;
}

/* HOVER */
.lihat-semua1:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.28);
}

/* ACTIVE (DIKLIK) */
.lihat-semua1:active {
  transform: translateY(-2px) scale(0.97);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.22);
}

/* UNTUK MOBILE */
@media (max-width: 768px) {
  .lihat-semua1 {
    position: relative; /* ⬅️ wajib */
    background-color: #029f49;
    top: -120px; /* naik ke atas */
    left: 0px;
    padding: 0.7rem 3rem;

    /*  transform: rotate(90deg) */ /* rotasi */
    /* transform-origin: center; */ /* pusat rotasi */
  }
}
