@media (max-width: 768px) {
  .konsep {
    /* background: linear-gradient(
      180deg,
      rgba(15, 81, 50, 0.06),
      rgba(255, 255, 255, 1)
    ); */
  /*   background-color: aquamarine; */

    padding-top: 40px;
    padding-bottom: 180px;
    /*  margin-top: 200px; */

    border-radius: 28px 28px 0 0;
    margin-top: 0px;
  }

  /* Judul h2 tetap terlihat  KEUNGGULAN SEKOLAH*/
  .konsep-title {
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    line-height: 1.25;

    font-family: "Poppins", "Segoe UI", Inter, system-ui, sans-serif;
    text-align: left;

    margin-left: 20px;
    margin-bottom: 1rem;

    color: rgb(15, 81, 50);
    position: relative;
    z-index: 2;
  }

  .konsep-wrapper {
    position: relative;
    padding-top: 58vh; /* sedikit lebih pendek */
  }

  .konsep-card {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
  }

  .konsep-card.active {
    opacity: 1;
    z-index: 1;
  }

  .konsep-card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 58vh;
    object-fit: cover;

    border-radius: 28px 28px 0 80px;

    box-shadow: 0 10px 24px rgba(15, 81, 50, 0.12),
      0 4px 8px rgba(15, 81, 50, 0.08);
  }

  .konsep-card h3 {
    margin-top: calc(58vh + 16px);
    margin-left: 28px;

    padding-right: 20px;
    font-size: 1.35rem;

    color: #000;
    white-space: nowrap;
    overflow: hidden;
  }

  .konsep-card p {
    margin: 0.5rem 28px 1rem;
    font-size: 1.05rem;
    line-height: 1.6;

    text-align: left;
    color: #333;
  }

  /* Teks kartu aktif muncul */
  .konsep-card.active h3,
  .konsep-card.active p {
    opacity: 1;
  }

  /* Teks tetap di bawah gambar */
}
